<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHrm" parallel="tests" thread-count="5" >
	<listeners>
		<listener class-name="com.orange.hrm.util.ListenerUtil"></listener>
	</listeners>
  <test thread-count="5" name="Login">
    <classes>
      <class name="com.orange.test.upLoginTest"/>
    </classes>	
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
